@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
cloudflare-app[app="flashcard"] {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #444;
  display: flex;
  flex-flow: column;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  min-height: 70px;
  padding: 20px 15px;
  position: fixed;
  text-rendering: optimizeLegibility;
  transition: bottom .4s ease-in-out;
  visibility: hidden;
}

cloudflare-app[app="flashcard"][data-visibility="visible"] {
  visibility: visible;
}

@media (min-width: 768px) {
  cloudflare-app[app="flashcard"] {
    bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12);
    width: 330px;
  }
  cloudflare-app[app="flashcard"][data-position="left"] {
    left: 20px;
  }
  cloudflare-app[app="flashcard"][data-position="right"] {
    right: 20px;
  }
  cloudflare-app[app="flashcard"] flashcard-content {
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  cloudflare-app[app="flashcard"] {
    border-top: 1px solid #ccc;
    bottom: 0;
    left: 0;
    right: 0;
  }
  cloudflare-app[app="flashcard"] flashcard-content {
    line-height: 1.785;
  }
}

cloudflare-app[app="flashcard"] flashcard-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

cloudflare-app[app="flashcard"] flashcard-title {
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
}

cloudflare-app[app="flashcard"] flashcard-close {
  margin-left: 1em;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  flex: 0 0 auto;
}

cloudflare-app[app="flashcard"] flashcard-content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

cloudflare-app[app="flashcard"] flashcard-footer {
  margin-top: 0.5em;
  display: flex;
  flex-flow: column;
  flex: 0 0 auto;
  text-align: center;
}

cloudflare-app[app="flashcard"] flashcard-footer .flashcard-action {
  background-color: #fff !important;
  border-radius: 3px !important;
  border: 1px solid !important;
  box-shadow: inherit !important;
  cursor: pointer !important;
  display: inline-block;
  font-size: 1em !important;
  margin-top: 10px !important;
  padding: 5px 0 !important;
  text-decoration: none !important;
  text-shadow: inherit !important;
}

cloudflare-app[app="flashcard"] .flashcard-action[href=""] {
  pointer-events: none !important;
}

cloudflare-app[app="flashcard"] flashcard-message {
  display: block;
  line-height: 1.4;
  margin-top: 10px;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
}

cloudflare-app[app="flashcard"] flashcard-message p:first-child {
  margin-top: 0;
}

cloudflare-app[app="flashcard"] flashcard-message p:last-child {
  margin-bottom: 0;
}